[submodule "external/MoneyPrinterTurbo"]
	path = external/MoneyPrinterTurbo
	url = https://github.com/harry0703/MoneyPrinterTurbo.git
[submodule "external/ECC"]
	path = external/ECC
	url = https://github.com/affaan-m/ECC.git
